* {
	text-align: center;
}

.jumbotron {
	background-color: #ffffff;
}


body{
	background-color: #009999;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #262626;
}

img {
	width: 200px;
	height: auto;
}
